

 body { 
   background-color: powderblue;
    margin: 0;
    text-align: center;
    color: #40514E;
    
 }
 form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img{
  height: 80px;
  width: 200px;
}
.cloud1{
  
  position: relative;
  left: 10%;
  top: 20px;
}
.cloud2{
  position: relative;
  right: 15% ;
  top: 90px;
}
.send-otp-button {
  width: 170px;
}
.Join {
  margin-top: 150px;
}
.square {
 
  background-color: #F44336;
  border: 2px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  font-size: 24px;
  color: #fff;
  text-shadow: 1px 1px #000;
  position: relative;
  /* left: 40%;
  top: 20px; */
}
  